{{ define "breadcrumbs" }}

<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"><a href="/portfolio/1">BPCG</a></li>
<li class="breadcrumb-item active" aria-current="page">Friday, March 5th 2021</li>

{{ end }}

{{ define "view" }}

<div class="row grid" data-masonry='{"percentPosition": true }'>
    {{range .Photos}}
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/portfolio/{{.Album.PortfolioID}}/album/{{.Album.ID}}/photo/{{.ID}}">
            <img class="img-fluid"
                src="https://d1u5q1afdbuxt7.cloudfront.net/portfolios/{{.Album.PortfolioID}}/albums/{{.Album.ID}}/thumbs/{{.ID}}" />
        </a>
    </div>
    {{end}}
</div>

{{ end }}
