{{ define "breadcrumbs" }}

<li class="breadcrumb-item"><a href="/dev-3918bed/">Home</a></li>
<li class="breadcrumb-item"><a href="/dev-3918bed/portfolio/1">BPCG</a></li>
<li class="breadcrumb-item"><a href="/dev-3918bed/album/1">Friday, March 5th 2021</a></li>
<li class="breadcrumb-item active" aria-current="page">blossom.jpg</li>

{{ end }}

{{ define "view" }}

<div class="row">
    <div class="col">
        <a href="https://photo-mattcanty-com-dev-photos-4681677.s3.eu-west-2.amazonaws.com/blossom.jpg">
            <img class="img-fluid"
                src="https://photo-mattcanty-com-dev-photos-4681677.s3.eu-west-2.amazonaws.com/blossom.jpg" />
        </a>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col align-self-center">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Camera</th>
                    <td>Canon EOS 100D</td>
                </tr>
                <tr>
                    <th scope="row">Date</th>
                    <td>Friday, 26 February 2021, 06:23</td>
                </tr>
                <tr>
                    <th scope="row">Dimensions</th>
                    <td>4898 × 3265</td>
                </tr>
                <tr>
                    <th scope="row">Camera Settings</th>
                    <td>ƒ/5 1/500 39mm ISO100</td>
                </tr>
                <tr>
                    <th scope="row">Size</th>
                    <td>480.5 KB</td>
                </tr>
                <tr>
                    <th scope="row">Pixels</th>
                    <td>16 MP</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{ end }}
