{{ define "breadcrumbs" }}

<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">BPCG</li>

{{ end }}

{{ define "view" }}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Brockwell Park Community Greenhouses</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                entirely.</p>
        </div>
    </div>
</section>
<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{range .Albums}}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://d1u5q1afdbuxt7.cloudfront.net/flowers.jpg" class="w-100" alt="...">
                    <div class="card-body">
                        <h4>{{.ID}}</h4>
                        <p class="card-text"></p>
                        <a href="/portfolio/{{.PortfolioID}}/album/{{.ID}}"
                            class="btn btn-md btn-outline-secondary stretched-link">View</a>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>

{{ end }}
